<div class="parallax-container">
  <div class="parallax-group">
    <div class="parallax-layer">
    </div>
    <img class="img" alt="My image name"
         src="./assets/Wien_Karlskirche.jpg">
  </div>

  <div class="section content-section">
    <p>home works!</p>
    <p>home works!</p>
    <p>home works!</p>
    <p>home works!</p>
    <p>home works!</p>
    <p>home works!</p>
    <p>home works!</p>
  </div>
  <div class="section parallax-group">
    <div class="bg"></div>
    <div class="parallax-layer">
      <div class="rslow">Really Slow</div>
    </div>
  </div>
</div>

